{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-header">
        Удаление публикации
      </div>
      <div class="card-body">
        <p>Вы уверены, что хотите удалить пост "{{ post.title }}"?</p>
        <form method="post">
          {% csrf_token %}
          {% bootstrap_button button_type="submit" content="Удалить" %}
          <a href="{% url 'blog:post_detail' post.id %}" class="btn btn-secondary">Отмена</a>
        </form>
      </div>
    </div>
  </div>
{% endblock %}